PORT=4000
CORS_ORIGIN=http://localhost:3000

GCP_PROJECT_ID=your-local-project-id
GCP_LOCATION=us
GOOGLE_CUSTOM_PROCESSOR_ID=your-local-custom-processor-id
GOOGLE_FORM_PROCESSOR_ID=your-local-form-processor-id
GCP_LAYOUT_PARSER_PROCESSOR_ID=your-local-layout-processor-id

SIGNPDF_WARMUP_TTL_MS=600000
OCR_RETRY_ATTEMPTS=2
